
body {
  margin: 0;
}

.container {
  padding: 0 2.5%;
}
.box {
	border: 1px solid;
	height: 15px;
	width: 15px;
	text-align: center;
	display:inline-block;

}
.board {
  display: inline-block!important;
  width: 50%;
}
